#content
  #content_top
  #content_main
    = @name 
    %br
    = @address 
    %br
    #{@message1}
    %br
    #{@message2}
    %br
    #{@gndr}
    %br
    #{@city}
  #content_bottom
  #footer
    %h3
      %a{:href => "http://www.bryantsmith.com"} florida web design