%ul
  %li.menuitem= link_to "Home" , demo_home_path
  %li.menuitem= link_to "About" , demo_about_path
  %li.menuitem= link_to "Products" , demo_products_path
  %li.menuitem= link_to "Services" , demo_services_path
  %li.menuitem= link_to "Design" , demo_design_path
  %li.menuitem= link_to "Contact" , demo_contact_path
  %li.menuitem= link_to "Detail" , demo_detail_path
  %li.menuitem= link_to "Data" , demo_data_path
  %li.menuitem= link_to "Class Registration" , demo_class_registration_path
  %li.menuitem= link_to "Ajax" , demo_ajax_demo_path, remote: true, class: 'txt1'
  %li.menuitem= link_to "Plane Air Ticketing" , demo_plane_air_ticketing_path
  

